.container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #fff;
}

#main {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background: url(/images/lightmodebg.jpg) no-repeat center center fixed;
    gap: 1rem;
}

#account {
    position: relative;
    max-width: 360px;
    width: 360px;
    background: rgba(239, 233, 233, 0.7);
    transition: all 1s ease;
}

.account-header {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #fff;
    background: #fff;
}

.list-scroll{
    position: absolute;
    width: 100%;
    height: calc(100% - 120px);
    overflow-y: auto;
    bottom: 60px;
    top: 60px;
}

.list-scroll::-webkit-scrollbar {
    width: 0.5rem;
}

.list-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.list-scroll::-webkit-scrollbar-thumb {
    background: #888;
}

.list-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.list-scroll .group-list {
    width: 100%;
}

.list-item {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;
}

.list-item.active {
    background: rgba(114, 114, 114, 0.1);

}

.list-item:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);

}

.list-info h5 {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-item .list-info p {
    font-size: 14px;
}

.list-item .list-info {
    width: inherit;
    max-width: 100%;
    overflow: hidden;
}

.account-current {
    width: 100%;
    max-width: 360px;
    height: 60px;
    position: absolute;
    bottom: 0;
    background: rgba(239, 233, 233, 0.7);
}

.account-current .current-info {
    width: 70%;
    max-width: inherit;
}

.account-current .current-name {
    width: 100%;
    max-width: 100%;
}

.account-current .current-name h5 {
    font-size: 16px;
}

/* truncate text */
.current-name h5,
.current-name p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*---------------- Chat Box ----------------*/
#chatbox {
    position: relative;
    background: rgba(239, 233, 233, 0.7);
}

#chatbox .chatbox-header {
    position: relative;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #fff;
    background: #fff;
}

.chatbox-header .current-contact {
    gap: 0.8rem;
}

.chat-setting {
    position: relative;
}

.chat-setting-list.hide {
    display: none;
}

.chat-setting-list {
    position: absolute;
    right: 0;
    top: 40px;
    background: #fff;
    z-index: 100;
}

.chatbox-item {
    text-align: justify;
    gap: 1rem;
}

.chatbox-inputs {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.left .chatbox-text{
    background: #dce8ff;
}

.right .chatbox-text{
    background: #4399ff;
}

.chatbox-content {
    max-width: 60%;
}

.chatbox-content .chatbox-text {
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
}

.chatbox-text p {
    font-size: 14px;
}

.default-background {
    position: absolute;
    height: 100%;
    width: 100%;
    /*background: #fff, image */
    background-color: #fff;
    background-image: url('/images/default-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    z-index: 100;
}

/* ------- Modal ------- */
.group-member-container > * {
    width: 100%;
}

.group-member-container .show-member-btn {
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    padding: 0 1rem;
}

.group-member-container.hide .member-list {
    display: none;
}

.member-list input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.member-list {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}

.default-background.hide {
    display: none;
}

@media screen and (max-width: 992px) {
    #account {
        width: fit-content;
        max-width: 80px;
        transition: all 0.4s ease-in-out;
    }


    .account-header,
    .account-header .logo,
    .account-header .logo a {
        justify-content: center !important;
        align-items: center !important;
    }

    .account-list h5 {
        padding: 8px !important;
        margin: 0;
        font-size: 16px;
    }

    .account-header .buttons {
        display: none;
    }

    .logo span {
        display: none;
    }

    .list-info {
        display: none;
    }

    .account-current .current-name,
    .account-current .current-setting {
        display: none;
    }

    .account-current {
        justify-content: center !important;
    }

    .chatbox-content {
        max-width: 80%;
    }
}